<head>
	<link rel="stylesheet" type="text/css" href="styles/about.css">

</head>
<div id="resume">
  <img src="images/david38.jpg" alt="David Spencer">
  <h1>David A. Spencer</h1>
  <p>Cell: <a href=#>916-995-4706</a>
  <p>E-mail: <a href=#>vash2500@gmail.com</a>
  <p>LinkedIn: <a href="https://www.linkedin.com/in/gizmo2500">Gizmo2500</a>
  <p>Git Hub: <a href="https://github.com/Gizmo2500">Gizmo2500</a>
  
  <p id="objective">      I am a reserved but ambitious professional seeking a career that fits my professional skills, personality, and interests. After a lengthy career as a Foreign Language Teacher in Japan, I decided to follow my life long passion for all things tech. I moved to San Fransisco to become a Web Developer, and General Assembly has allowed that dream to come true.
<dl>
  <dt>Education
  <dd>
  	<h2>General Assembly</h2>
  	<p><strong>Course:</strong>Web Development Immersive</p>
    <h2>University of South Florida</h2>
    <p><strong>Major:</strong> Psychology<br/>
    <strong>Minor:</strong> Japanese Language, Math, and Science</p>
</dl>
<dl>
<dt>Skills
<dd>
<h2>Programing Skills</h2>
<p>HTML5/CSS3, Ruby, Ruby on Rails
AngularJS, JavaScript, jQuery
Node.js, Express, SQL, Postgresql,
Sequelize, Active Record
Bootstrap, Git/GitHub, JSON
<h2>Computer skills</h2>
<p>Microsoft productivity software (Word, Power Point, etc), Windows, Computer Hardware, OSX, Command Line
</dl>
<dl>
<dt>Experience
<dd>
<h2>General Assembly<span>San Francisco 2015 – 2015</span></h2>
<ul>
<li>Completed General Assembly's Web Development Immersive program to prepare for a career as a web developer. The 12-week, full-time course covered JavaScript, AngularJS, Node.js, Ruby, Ruby on Rails, HTML and CSS. The experience at General Assembly also allowed for multiple networking opportunities with other developers as well as user experience designers. 


</ul>
<h2>Foreign Language Teacher<span>Japan 2008 – 2014</span></h2>
<ul>
    <li>Tokyo/Yokohama, 2013-2014<br>
    Interac/Maxceed, MLS(Model Language Studio)
    <li>Aichi(Nagoya), 2008-2013<br>
    Cosmo Global Communications School,<br> 
    Interac/Maxceed, Vantage Japan INC.<br>
    Sakai English School, GEOS Language Corporation
    <li>Ichinomiya, 2010-2013<br> 
      Clover English School
</ul>
<h2>Personal Banking Manager<span> Florida 1997 – 2000</span></h2>
<ul>
    <li>Developed private/business clients to expand deposit and loan relationships for bank.  The ability to integrate sales/people skills with technical knowledge necessary to operate a key branch office enabled rapid promotions and successful banking career.  Left to pursue full time college education.

</ul>
</dd>
</dl>
<dl>
<dt>Hobbies
<dd>Technology, Video Games, Board Games, Camping, and Travel
</dl>
<dl>
<dt>References
<dd>Available on request
</dl>

</div>
