<body>


  <!-- <div class="container">
    <div class="row row-offcanvas row-offcanvas-left">
      <div class="row-offcanvas row-offcanvas-right">
        <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarLeft" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Left Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div> -->
          <!--/.well -->
        <!-- </div> -->
        <!--/span-->

        <div class="col-xs-12">
          <p class="pull-left visible-xs">
            <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
          <p class="pull-right visible-xs">
            <button class="btn btn-primary btn-xs" type="button" data-toggle="offcanvasright"><i class="glyphicon glyphicon-chevron-right"></i></button>
          </p>
          <div class="jumbotron">
            <img class="me1"src="images/david38.jpg">
            <h1>David Allen Spencer</h1>
            <p>Full Stack Developer</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 clearfix section">
              <h2>Resume</h2>
              <img class="pics" src="images/resume.png">
              <p>Check out my work history!</p>
              <p><a class="btn btn-default" ng-href="#/about">View Resume »</a></p>
            </div>
            <!--/span-->
            <div class="col-sm-6 section">
              <h2>Hobbies</h2>
              <p> My Hobbies will go here.</p>
              <p><a class="btn btn-default" href="#">View details »</a></p>
            </div>
            <!--/span-->
            <div class="col-sm-6 clearfix section">
              <h2>Scene in the City</h2>
              <img class="pics" src="images/sceneincity.png">
              <p> This was my second project. I </p>
              <p><a class="btn btn-default" href="scene-in-the-city-app.herokuapp.com"> View App »</a></p>
            </div>
            <!--/span-->
            <div class="col-sm-6 section">
              <h2>InstaSave</h2>
              <img class="pics" src="images/instasave.png">
              <p> This was my first project in Web Development. I used Node.js, Express, JavaScript, Google Images API, Squelize, and Bcrypt</p>
              <p><a class="btn btn-default" href="https://github.com/Gizmo2500/wdisanfran/tree/master/project1">View GitHub »</a></p>
            </div>
            <!--/span-->
            <div class="col-sm-6 clearfix section">
              <h2>Dispensary Finder</h2>
              <img style="height: 350px; width: 250px;"src="images/dispensarypic.png">
              <p> This is my Third Project</p>
              <p><a class="btn btn-default" href="https://github.com/cadreamer23/dispensary-finder-ionic">View GitHub »</a></p>
            </div>
            <!--/span-->
            <div class="col-sm-6 section">
              <h2>Extras</h2>
              <p> any extras go here </p>
              <p><a class="btn btn-default" href="">View GitHub »</a></p>
            </div>
            <!--/span-->
          </div>
          <!--/row-->
        </div>
        <!--/span-->

        <!-- <div class="col-xs-6 col-sm-2 sidebar-offcanvas" id="sidebarRight" role="navigation">
          <div class="well sidebar-nav">
            <ul class="nav">
              <li>Right Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div> -->
          <!--/.well -->
        <!-- </div> -->
        <!--/span-->

      <!-- </div> -->

    <!-- </div> -->
    <!--/row-->

    <hr>

    

  </div>
  <!--/.container-->

</body>